.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
*log*
*bak*
.htaccess
config.php
/config.srvr.php
/config.live.php
assets/documents/*
assets/img/Students/*
assets/img/Lecturers/*
assets/img/avatar/*
assets/img/flag/*
assets/img/flags/*
assets/img/admin.jpg
/.htaccess
*log*
